In [1]:
spark.read.format("parquet").load("s3://dora.data.la/raw/sample.parquet").show()

+---+-----+---+--------+----+-----+-------+-------+-----+-------+-----+---+----+------+
|age|  sex| cp|trestbps|chol|  fbs|restecg|thalach|exang|oldpeak|slope| ca|thal|target|
+---+-----+---+--------+----+-----+-------+-------+-----+-------+-----+---+----+------+
| 37| true|  2|     130| 250|false|   true|    187|false|    3.5|    0|  0|   2|  true|
| 39| true|  2|     140| 321|false|  false|    182|false|    0.0|    2|  0|   2|  true|
| 34| true|  3|     118| 182|false|  false|    174|false|    0.0|    2|  0|   2|  true|
| 35|false|  0|     138| 183|false|   true|    182|false|    1.4|    2|  0|   2|  true|
| 29| true|  1|     130| 204|false|  false|    202|false|    0.0|    2|  0|   2|  true|
| 37|false|  2|     120| 215|false|   true|    170|false|    0.0|    2|  0|   2|  true|
| 39|false|  2|      94| 199|false|   true|    179|false|    0.0|    2|  0|   2|  true|
| 34|false|  1|     118| 210|false|   true|    192|false|    0.7|    2|  0|   2|  true|
| 39|false|  2|     138| 220|false|   true|    152|false|    0.0|    1|  0|   2|  true|
| 35| true|  1|     122| 192|false|   true|    174|false|    0.0|    2|  0|   2|  true|
| 38| true|  2|     138| 175|false|   true|    173|false|    0.0|    2|  4|   2|  true|
| 38| true|  2|     138| 175|false|   true|    173|false|    0.0|    2|  4|   2|  true|
| 39| true|  0|     118| 219|false|   true|    140|false|    1.2|    1|  0|   3| false|
| 35| true|  0|     120| 198|false|   true|    130| true|    1.6|    1|  0|   3| false|
| 35| true|  0|     126| 282|false|  false|    156| true|    0.0|    2|  0|   3| false|
| 38| true|  3|     120| 231|false|   true|    182| true|    3.8|    1|  0|   3| false|
+---+-----+---+--------+----+-----+-------+-------+-----+-------+-----+---+----+------+

In [2]:
spark.read.format("carbon").load("s3://dora.data.la/warehouse/carbon_table/").toPandas()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,37,True,2,130,250,False,True,187,False,3.5,0,0,2,True
1,39,True,2,140,321,False,False,182,False,0.0,2,0,2,True
2,34,True,3,118,182,False,False,174,False,0.0,2,0,2,True
3,35,False,0,138,183,False,True,182,False,1.4,2,0,2,True
4,29,True,1,130,204,False,False,202,False,0.0,2,0,2,True
5,37,False,2,120,215,False,True,170,False,0.0,2,0,2,True
6,39,False,2,94,199,False,True,179,False,0.0,2,0,2,True
7,34,False,1,118,210,False,True,192,False,0.7,2,0,2,True
8,39,False,2,138,220,False,True,152,False,0.0,1,0,2,True
9,35,True,1,122,192,False,True,174,False,0.0,2,0,2,True
10,38,True,2,138,175,False,True,173,False,0.0,2,4,2,True
11,38,True,2,138,175,False,True,173,False,0.0,2,4,2,True
12,39,True,0,118,219,False,True,140,False,1.2,1,0,3,False
13,35,True,0,120,198,False,True,130,True,1.6,1,0,3,False
14,35,True,0,126,282,False,False,156,True,0.0,2,0,3,False
15,38,True,3,120,231,False,True,182,True,3.8,1,0,3,False